.header-container{
    width: 100%;
    display: grid;
    grid-template-columns: 4.5fr 7.5fr;
    padding: 20px;
    background: rgba(0,0,0,.7);

    .items-list{
        display: flex;
        justify-content: space-around;
    }

    .logo-container .header-item{
        font-size: 20px;
        &:hover{
            color: #FFF;
        }
    }
}